.bisector {
    position: absolute;
}

.followNoPathCanvas {
    display:run-in;
    position: absolute;
    z-index: 1;
}

.menuDiv {
    z-index:2;
    position:absolute;
    display:run-in;
    text-align: center;
}

.menuLink {
    font-family: monospace;
    color: black;
    text-decoration: none;
    font-size: 1em;
    display:run-in;
    text-align: center;
}

.piece {
    position:absolute;
    margin-left:30em;
    height:20px;
    z-index: 1;
}

.soundCloud {
    margin-left: 11em;
    width: 50%;
    height: 100;
    z-index:3;
    position:relative;
}
.workPageLink {
    font-family : monospace;
    font-size: 1em;
    position:absolute;
    text-decoration: none;
    color: black;
    z-index: 3;
   
    text-align:center;
}

.worksParagraph {
    font-family: helvetica,verdana,arial,sans-serif;
    z-index: 2;
}

.worksParagraphDiv {
    margin-left:11em;
    width: 50%;
    z-index: 2;
    display: run-in;
    position:relative;
}

.vertDiv {
    position:absolute;
    display:run-in;
    margin-left: 20em;
    height:15em;
    width: 1em;
}

.youtubeLink {
    position:absolute;
    display:block;
    margin-left:11em;
}

.homeDiv { 
    position:absolute;
}

#textOne {
    position:absolute;
    display:run-in;
    font-family:sans-serif;
}


#worksLink {
    font-size: 2em;
   font-family: monospace;
    color: white;
    text-decoration: none;
}

#hardParagraphDiv {
    margin-left:11em;
    width:50%;
    z-index:2;
    position:inline-block;
}

#contactLink {
    font-size: 2em;
    color: white;
    text-decoration: none;
}

#bioLink {
    font-size:2em;
    color: white;
    text-decoration: none;
}

#bioDiv {    
    position:absolute;  
    display:run-in;
}            

#contactDiv {    
    position:absolute;  
    display:run-in;
}      

#worksDiv {    
    position:absolute;  
    display:run-in;
}      

#itCanBeHardCanvas {
    position:absolute;
    display:run-in;
    z-index: 1;
}

#forestCanvas {
    position:absolute;
    display:run-in;
    z-index: 1;
}


#stampCanvas {
    display:run-in;
    position: absolute;
}
.onTheRedactionCanvas {

    position: absolute;
}

#canv0 {
    z-index: 6;
    position: absolute;
}
#canv1 {
    z-index: 5;
    position: absolute;
}
#canv2 {
    z-index: 4;
    position: absolute;
}
#canv3 {
    z-index:3;
    position: absolute;
}
#canv4 {
    z-index: 2;
    position: absolute;
}
#canv5 {
    z-index: 1;
    position: absolute;
}
#redactionCanvas3 {
    z-index: 3;
}
#redactionCanvas4 {
    z-index: 4;
}
#redactionCanvas5 {
    z-index: 5;
}

#indexText {
    margin-left: 30em;
    margin-top: 30em;
    position:absolute;
    text-decoration: none;
    font-family:monospace;
}

.intersectionCanvas {
    visibility: collapse;
}
.clippingPlane {
    visibility: collapse;
}

