.bisector {
    position: absolute;
}

.followNoPathCanvas {
    display:run-in;
    position: absolute;
    z-index: 1;
}

.menuDiv {
    z-index:2;
    position:absolute;
    display:run-in;
    text-align: center;
}

.menuLink {
    font-family: helvetica,verdana,arial,sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2em;
    display:run-in;
    text-align: center;
}

.piece {
    position:absolute;
    display:inline-block;
    margin-left:30em;
}

.soundCloud {
    margin-left: 11em;
    width: 50%;
    height: 100;
    z-index:3;
    position:relative;
}

.worksParagraph {
    font-family: helvetica,verdana,arial,sans-serif;
    z-index: 2;
}

.worksParagraphDiv {
    margin-left:11em;
    width: 50%;
    z-index: 2;
    position: absolute;
    display: run-in;
}

.vertDiv {
    position:absolute;
    display:run-in;
    margin-left: 20em;
    height:15em;
    width: 1em;
}

.youtubeLink {
    position:absolute;
    display:block;
    margin-left:11em;
}

.homeDiv { 
    position:absolute;
    display:run-in;

}

#textOne {

    position:absolute;
    display:run-in;
    font-family:sans-serif;
}



#worksLink {
    font-size: 2em;
    color: white;
    text-decoration: none;
    
}
#hardParagraphDiv {
    margin-left:11em;
    width:50%;
    z-index:2;
    position:inline-block;
}

#contactLink {
    font-size: 2em;
    color: white;
    text-decoration: none;
}

#bioLink {
    font-size:2em;
    color: white;
    text-decoration: none;
}

#bioDiv {    
    position:absolute;  
    display:run-in;
}            

#contactDiv {    
    position:absolute;  
    display:run-in;
}      

#worksDiv {    
    position:absolute;  
    display:run-in;
}      

#itCanBeHardCanvas {
    position:absolute;
    display:run-in;
    z-index: 1;
}

#forestCanvas {
    position:absolute;
    display:run-in;
    z-index: 1;
}


#stampCanvas {
    display:run-in;
    position: absolute;
}
.onTheRedactionCanvas {

    position: absolute;
}

#redCanvas {
    z-index: 6;
}
#greenCanvas {
    z-index: 5;
}
#blueCanvas {
    z-index: 4;
}
#purpleCanvas {
    z-index:3;
}
#yellowCanvas {
    z-index: 2;
}
#blackCanvas {
    z-index: 1;
}
#redactionCanvas3 {
    z-index: 3;
}
#redactionCanvas4 {
    z-index: 4;
}
#redactionCanvas5 {
    z-index: 5;
}
